*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Zen Maru Gothic;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    background-color: #FFFAEF;
}

.drawer_hidden {
  display: none;
}

.drawer_open {
  display: flex;
  height: 34px;
  width: 96%;
  padding-top: 60px;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 100;
  cursor: pointer;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 55px;
  background: #F6BFC4;
  transition: 0.5s;
  position: absolute;
}

.drawer_open span:before{
  content: 'Menu';
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-bottom: 2px;
  line-height: 100%;
}

@media screen and (max-width:390px){
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
      width: 40px;
  }

  .drawer_open span:before{
      font-size: 11px;
  }
}
.drawer_open span:before{
  height: 15px;
  border-radius: 15px 15px 0 0;
}

.drawer_open span:after{
  height: 15px;
  border-radius: 0 0 15px 15px;
}

.drawer_open span:before {
  bottom: 8px;
}

.drawer_open span:after {
  top: 8px;
}

@media screen and (max-width:390px){
  .drawer_open span:before{
      height: 10px;
      bottom: 6px;
  }

  .drawer_open span:after{
      height: 10px;
      top: 6px;
    }
}

#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  height: 3px;
  border-radius: 0;
  content: '';
  padding-bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  height: 3px;
  border-radius: 0;
  transform: rotate(-45deg);
}
  
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -120%;
  bottom: 100%;
  z-index: 99;
  background-image: url(./img/about-bgimg-402218.png);
  background-size: cover;
  transition: .5s;
}

@media screen and (max-width:390px){
  .nav_content{
      background-image: url(./img/about-bgimg-402218-SP.png);
      background-size: cover;
  }
}

.nav_list {
  list-style: none;
  margin-top: 36px;
}

.nav_list li{
  margin-bottom: 50px;
}

.nav_list li:nth-child(2){
  margin-top: 80px;
  margin-left: 11%;
}

.nav_list li:nth-child(3){
  margin-left: 11%;
}

.nav_list li:nth-child(4){
  margin-bottom: 0;
  margin-left: 11%;
}

.nav_list li:nth-child(5){
  margin-left: 11%;
}

.nav_title{
  color: #FFF;
  text-align: center;
  font-family: BioRhyme;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: 150.023%;
  letter-spacing: 11.2px;
  margin-left: 0;
}

.nav_list a{
  color: #FFF;
  text-align: justify;
  font-family: Zen Maru Gothic;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.023%;
  letter-spacing: 9.8px;
  transition: 0.5s;
}

.drawer_open p{
  z-index: 3;
  color: #FFF;
  text-align: justify;
}

.nav_shop{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  width: 90%;
  padding-left: 5%;
  text-align: center;
}

.nav_shop a{
  font-size: 20px;
  line-height: normal;
  letter-spacing: 2px;
  width: 370px;
  padding-bottom: 50px;
  text-align: justify;
}

.nav_shop br{
  display: none;
}

@media screen and (max-width:1440px){
  .nav_title{
      font-size: 20px;
  }

  .nav_list a{
      font-size: 20px;
  }

  .nav_shop a{
      font-size: 18px;
      width: 320px;
      padding-bottom: 30px;
  }
  
  .nav_list li:nth-child(4){
      margin-bottom: 20px;
    }
}

@media screen and (max-width:1427px){
  .nav_shop a{
      padding-bottom: 30px;
  }

  .nav_list li:nth-child(2){
      margin-top: 80px;
      margin-left: 12%;
    }
  
    .nav_list li:nth-child(3){
      margin-left: 12%;
    }
  
    .nav_list li:nth-child(4){
      margin-left: 12%;
    }
  
    .nav_list li:nth-child(5){
      margin-left: 12%;
    }
}

@media screen and (max-width:1284px){
  .nav_shop a{
      width: 360px;
  }

  .nav_list li:nth-child(2){
      margin-top: 70px;
      margin-left: 17%;
    }
  
    .nav_list li:nth-child(3){
      margin-left: 17%;
    }
  
    .nav_list li:nth-child(4){
      margin-left: 17%;
    }
  
    .nav_list li:nth-child(5){
      margin-left: 17%;
    }
  
}

@media screen and (max-width:1020px){
  
  .nav_title{
      font-size: 14px;
  }

  .nav_list a{
      font-size: 17px;
  }

  .nav_shop a{
      font-size: 15px;
      width: 310px;
  }

}

@media screen and (max-width:878px){
  .nav_list li{
      margin-bottom: 30px;
    }

  .nav_shop a{
      padding-bottom: 20px;
  }

  .nav_list li:nth-child(2){
      margin-top: 50px;
      margin-left: 25%;
    }
  
    .nav_list li:nth-child(3){
      margin-left: 25%;
    }
  
    .nav_list li:nth-child(4){
      margin-left: 25%;
    }
  
    .nav_list li:nth-child(5){
      margin-left: 25%;
    }
}

@media screen and (max-width:500px){
  .nav li{
      margin-bottom: 40px;
  }

  .nav_title{
      font-size: 13px;
      letter-spacing: 3.85px;
  }

  .nav_list a{
      font-size: 15px;
      letter-spacing: 5.25px;
  }

  .nav_shop{
      padding-left: 10.25%;
  }

  .nav_shop a{
      font-size: 14px;
      letter-spacing: 1.4px;
      padding-bottom: 25px;
  }

  .nav_list li:nth-child(2){
      margin-top: 80px;
      margin-left: 11.53%;
    }
  
    .nav_list li:nth-child(3){
      margin-left: 11.53%;
    }
  
    .nav_list li:nth-child(4){
      margin-bottom: 15px;
      margin-left: 11.53%;
    }
  
    .nav_list li:nth-child(5){
      margin-left: 11.53%;
    }
}

.nav_list a:hover{
  color: #F6BFC4;
}


#drawer_input:checked ~ .nav_content {
  bottom: 10%;
  top: 0;
}

#drawer_input:checked ~ .page-cover{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 90;
background: #000;
  opacity: 0.5;
display: block;
}

h1{
    color: #D37A80;
    text-align: center;
    font-family: BioRhyme;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.68px;
    padding-top: 160px;
    margin-bottom: 120px;
    width: 100vw;
}

@media screen and (max-width:390px){
  h1{font-size: 24px;
    line-height: 100.023%;
    letter-spacing: 4.8px;
    padding-top: 127px;
  }
}

.shop-info{
    display: flex;
    flex-wrap: wrap;
    gap: 7.85%;
    justify-content: center;
}

.shop-info img{
    width: 400px;
    margin: auto 0 0 0;
}

.shop-text{
    width: 400px;
}

.shop-detail{
    color: #402218;
    text-align: justify;
    font-family: Zen Maru Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.6px;
}

.product-name{
    color: #402218;
    text-align: right;
    font-family: Zen Maru Gothic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.023%;
    letter-spacing: 2.4px;
    margin-top: 55px;
    margin-bottom: 10px;
}

.cost{
    text-align: right;
    color: #402218;
    font-family: Zen Maru Gothic;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
}

.cost span{
    font-size: 18px;
    letter-spacing: 1.8px;
}

@media screen and (max-width:868px){
  .shop-info img{
    margin-bottom: 80px;
  }
}

@media screen and (max-width:390px){
  .shop-info img{
    width: 300px;
    margin-bottom: 65px;
  }

  .shop-text{
    width: 320px;
  }

  .shop-detail{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.4px;
    display: block;
    margin: 0 auto;
  }

  .product-name{
    font-size: 16px;
    line-height: 100.023%;
    letter-spacing: 1.6px;
  }

  .cost{
    font-size: 24px;
    letter-spacing: 2.4px;
  }

  .cost span{
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}

.macaron-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    width: 85%;
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 200px;
}

.macaron{
    text-align: center;
    width: 280px;
}

.macaron img{
    width: 200px;
}

.macaron p{
    color: #402218;
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 20px;
}

.only-sp{
  display: none;
}

@media screen and (max-width:788px){
  .only-sp{
    display: block;
  }

  .only-pc{
    display: none;
  }

  .macaron-type{
    gap: 80px;
  }

  .macaron{
    width: 170px;
  }

  .macaron img{
    width: 130px;
  }
}

@media screen and (max-width:390px){
.macaron-type{
  margin-top: 60px;
  margin-bottom: 60px;
  row-gap: 40px;
}

  .macaron{
    width: 100px;
  }

  .macaron img{
    width: 100px;
  }

  .macaron p{
    font-size: 13px;
    letter-spacing: 0.65px;
  }
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13%;
    margin-bottom: 240px;
}

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 60px;
    border: 1.5px solid #402218;
    transition: 0.5s;
}

.btn p{
    color: #402218;
    font-family: Zen Maru Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    transition: 0.5s;
}

.btn img{
    width: 24px;
    transition: 0.5s;
}

.white{
  display: none;
}

.btn:hover{
    background-color: #402218;

  .white{
      display: block;
  }

  .brown{
      display: none;
  }

  p{
    color: #fff;
  }
}

.btn:hover p{
  color: #FFF;
}

.icon{
    height: 24px;
}

@media screen and (max-width: 758px){
  .shop-btn{
    margin-bottom: 30px;
  }

  .btn{
    width: 270px;
    height: 55px;
  }

  .btn p{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
  }
}

@media screen and (max-width:390px){
  .button{
    margin-bottom: 180px;
  }

}

footer{
  background-color: #D37A80;
  color: #FFF;
}

.footer-contents{
  padding: 40px 14.3% 0 14.3%;
}

@media screen and (max-width:1250px){
  .footer-contents{
      padding-right: 10%;
      padding-left: 10%;
  }
}

@media screen and (max-width:800px){
  .footer-contents{
      display: none;
  }
}

footer a{
  color: #fff;
  transition: 0.5s;
}

.footer-contents p{
  font-family: Zen Maru Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 7px;
  padding-bottom: 30px;
}

.footer-contents a:hover{
  color: #F6BFC4;
}

.footer-contents table{
  margin-bottom: 30px;
  margin-left: 4.8%;
}

.footer-contents td{
  text-align: center;
  width: 280px;
  height: 50px;
}

.footer-contents td a{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}


.copywrite{
  color: #FFF;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 7px;
  padding-bottom: 21px;
}

@media screen and (max-width:1070px){
  .footer-contents p{
      font-size: 18px;
      list-style-position: 5px;
  }

  .footer-contents td a{
      font-size: 15px;
  }
}

@media screen and (max-width:800px){
  .footer-contents p{
      margin-bottom: 0;
  }

  .copywrite{
      font-size: 14px;
      font-weight: 200;
      line-height: 150.023%;
      letter-spacing: 3.85px;
      padding: 7px 0 7px 0;
  }
}

@media screen and (max-width:390px){
  .copywrite{
      font-size: 12px;
  }
}

.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}


.scroll_left {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_left.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}


.scroll_right {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_right.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}