*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Zen Maru Gothic;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    background-color: #FFFAEF;
}

.drawer_hidden {
    display: none;
  }
  
  .drawer_open {
    display: flex;
    height: 34px;
    width: 96%;
    padding-top: 60px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }
 
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 55px;
    background: #F6BFC4;
    transition: 0.5s;
    position: absolute;
  }

  .drawer_open span:before{
    content: 'Menu';
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-bottom: 2px;
    line-height: 14px;
  }

  @media screen and (max-width:390px){
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        width: 40px;
    }
  }
  .drawer_open span:before{
    height: 15px;
    border-radius: 15px 15px 0 0;
  }

  .drawer_open span:after{
    height: 15px;
    border-radius: 0 0 15px 15px;
  }

  .drawer_open span:before {
    bottom: 8px;
  }

  .drawer_open span:after {
    top: 8px;
  }

  @media screen and (max-width:390px){
    .drawer_open span:before{
        height: 10px;
        bottom: 6px;
    }

    .drawer_open span:after{
        height: 10px;
        top: 6px;
      }
  }

  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    height: 3px;
    border-radius: 0;
    content: '';
    padding-bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    height: 3px;
    border-radius: 0;
    transform: rotate(-45deg);
  }
    
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -120%;
    bottom: 100%;
    z-index: 99;
    background-image: url(./img/about-bgimg-402218.png);
    background-size: cover;
    transition: .5s;
  }

  @media screen and (max-width:390px){
    .nav_content{
        background-image: url(./img/about-bgimg-402218-SP.png);
        background-size: cover;
    }
  }
  
  .nav_list {
    list-style: none;
    margin-top: 36px;
  }

  .nav_list li{
    margin-bottom: 50px;
  }

  .nav_list li:nth-child(2){
    margin-top: 80px;
    margin-left: 11%;
  }

  .nav_list li:nth-child(3){
    margin-left: 11%;
  }

  .nav_list li:nth-child(4){
    margin-bottom: 0;
    margin-left: 11%;
  }

  .nav_list li:nth-child(5){
    margin-left: 11%;
  }

  .nav_title{
    color: #FFF;
    text-align: center;
    font-family: BioRhyme;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 150.023%;
    letter-spacing: 11.2px;
    margin-left: 0;
  }

  .nav_list a{
    color: #FFF;
    text-align: justify;
    font-family: Zen Maru Gothic;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 9.8px;
    transition: 0.5s;
  }

  .drawer_open p{
    z-index: 3;
    color: #FFF;
    text-align: justify;
  }

.nav_shop{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    width: 90%;
    padding-left: 5%;
    text-align: center;
}

.nav_shop a{
    font-size: 20px;
    line-height: normal;
    letter-spacing: 2px;
    width: 370px;
    padding-bottom: 50px;
    text-align: justify;
}

.nav_shop br{
    display: none;
}

@media screen and (max-width:1440px){
    .nav_title{
        font-size: 20px;
    }

    .nav_list a{
        font-size: 20px;
    }

    .nav_shop a{
        font-size: 18px;
        width: 320px;
        padding-bottom: 30px;
    }
    
    .nav_list li:nth-child(4){
        margin-bottom: 20px;
      }
}

@media screen and (max-width:1427px){
    .nav_shop a{
        padding-bottom: 30px;
    }

    .nav_list li:nth-child(2){
        margin-top: 80px;
        margin-left: 12%;
      }
    
      .nav_list li:nth-child(3){
        margin-left: 12%;
      }
    
      .nav_list li:nth-child(4){
        margin-left: 12%;
      }
    
      .nav_list li:nth-child(5){
        margin-left: 12%;
      }
}

@media screen and (max-width:1284px){
    .nav_shop a{
        width: 360px;
    }

    .nav_list li:nth-child(2){
        margin-top: 70px;
        margin-left: 17%;
      }
    
      .nav_list li:nth-child(3){
        margin-left: 17%;
      }
    
      .nav_list li:nth-child(4){
        margin-left: 17%;
      }
    
      .nav_list li:nth-child(5){
        margin-left: 17%;
      }
    
}

@media screen and (max-width:1020px){
    
    .nav_title{
        font-size: 14px;
    }

    .nav_list a{
        font-size: 17px;
    }

    .nav_shop a{
        font-size: 15px;
        width: 310px;
    }

}

@media screen and (max-width:878px){
    .nav_list li{
        margin-bottom: 30px;
      }

    .nav_shop a{
        padding-bottom: 20px;
    }

    .nav_list li:nth-child(2){
        margin-top: 50px;
        margin-left: 25%;
      }
    
      .nav_list li:nth-child(3){
        margin-left: 25%;
      }
    
      .nav_list li:nth-child(4){
        margin-left: 25%;
      }
    
      .nav_list li:nth-child(5){
        margin-left: 25%;
      }
}

@media screen and (max-width:500px){
    .nav li{
        margin-bottom: 40px;
    }

    .nav_title{
        font-size: 13px;
        letter-spacing: 3.85px;
    }

    .nav_list a{
        font-size: 15px;
        letter-spacing: 5.25px;
    }

    .nav_shop{
        padding-left: 10.25%;
    }

    .nav_shop a{
        font-size: 14px;
        letter-spacing: 1.4px;
        padding-bottom: 25px;
    }

    .nav_list li:nth-child(2){
        margin-top: 80px;
        margin-left: 11.53%;
      }
    
      .nav_list li:nth-child(3){
        margin-left: 11.53%;
      }
    
      .nav_list li:nth-child(4){
        margin-bottom: 15px;
        margin-left: 11.53%;
      }
    
      .nav_list li:nth-child(5){
        margin-left: 11.53%;
      }
}

  .nav_list a:hover{
    color: #F6BFC4;
  }

  
  #drawer_input:checked ~ .nav_content {
    bottom: 10%;
    top: 0;
  }

  #drawer_input:checked ~ .page-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;
	background: #000;
    opacity: 0.5;
	display: block;
}

.firstview{
    background-color: #FFFAEF;
    text-align: center;
    position: relative;
    height: 100vh;
}


.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 33%;
    top: 200px;
    z-index: 2;
}

video{
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.sp-firstview{
    position: absolute;
    display: none;
}


@media screen and (max-width:850px){
    .firstview{
        background-image: none;
    }

    .logo{
        width: 40%;
    }

    video{
        display: none;
    }

    .sp-firstview{
        display: block;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

@media screen and (max-width:390px){
    .logo{
        width: 64%;
    }

    .sp-firstview{
        width: 70%;
    }
}

.about-group{
    position: relative;
}

.about-background{
    position: absolute;
    z-index: -1;
}

.about-background img{
    width: 100%;
}

.about-pc{
    display: block;
}

.about-w1200{
    display: none;
}

.about-sp{
    display: none;
}

@media screen and (max-width:1200px){
    .about-pc{
        display: none;
    }

    .about-w1200{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-w1200{
        display: none;
    }

    .about-sp{
        display: block;
    }
}

.about-contents{
    padding-top: 200px;
    height: 100vh;
}

.about-message{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 11.2px;

}

.message-br{
    display: none;
}

@media screen and (max-width:1200px){
    .about-contents{
        padding-top: 120px;
        height: 80vh;
    }

    .about-message{
        font-size: 30px;
        line-height: 200%;
        letter-spacing: 9.5px;
    }
}

.ask{
    margin-top: 20px;
    margin-bottom: 150px;
}

@media screen and (max-width:1000px){
    .ask{
        margin-bottom: 100px;
    }
}

@media screen and (max-width:700px){
    .about-message{
        font-size: 18px;
        line-height: 220%;
        letter-spacing: 7px;
    }
}

@media screen and (max-width:600px){
    .ask{
        margin-bottom: 60px;
    }
}

.macaron-tower{
    position: relative;
    width: 200px;
    height: 370px;
    margin: 0 auto;
    margin-top: 80px;
}

@media screen and (max-width:800px){
    .about-contents{
        padding-top: 100px;
    }

    .macaron-tower{
        width: 150px;
        height: 300px;
        margin-top: 50px;
    }
}

@media screen and (max-width:390px){
    .about-contents{
        padding-top: 50px;
        height: auto;
    }

    .macaron-tower{
        width: 100px;
        height: 195px;
        margin-top: 0px;
    }

    .about-message{
        font-size: 20px;
        line-height: 250%;
        letter-spacing: 8px;
    }

    .message-br{
        display: block;
    }

    .ask{
        margin-top: 0;
        margin-bottom: 40px;
    }
}

.macaron-tower img{
    width: 100%;
}

.green{
    position: absolute;
    z-index: 3;
    top: 0;
}

.white{
    position: absolute;
    z-index: 2;
    top: 30%;
}

.pink{
    position: absolute;
    z-index: 1;
    top: 60%;
}

.about-main{
    position: relative;
}

.about-macarons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.speech-bubble{
    position: absolute; 
    display: flex;
    gap: 33%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.speech-bubble-left{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.bubble-left{
    position: relative;
}

.left-bottom{
    top: 200px;
}

.bubble{
    position: absolute;
    width: 100%;
}

.bubble-text{
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.8px;
}

.speech-bubble-left p{
    padding-right: 10px;
}

.speech-bubble-right{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.bubble-right{
    position: relative;
}

.right-bottom{
    top: 200px;
}

.speech-bubble-right p{
    padding-left: 10px;
}

@media screen and (max-width:800px){
    .speech-bubble-left{
        width: 250px;
    }

    .speech-bubble-right{
        width: 250px;
    }

    .bubble-text{
        font-size: 16px;
        top:30px;
    }

    .left-bottom{
        top: 150px;
    }

    .right-bottom{
        top: 150px;
    }
}

@media screen and (max-width:600px){
    .speech-bubble{
        gap: 25%;
    }

    .speech-bubble-left{
        width: 200px;
    }

    .speech-bubble-right{
        width: 200px;
    }

    .bubble-text{
        font-size: 14px;
        top:27px;
    }
}

@media screen and (max-width:390px){
    .about-main{
        top: 0px;
    }

    .about-macarons{
        top: 30px;
    }

    .left-bottom{
        top: 100px;
    }

    .right-bottom{
        top: 100px;
    }

    .speech-bubble{
        gap: 25%;
    }

    .speech-bubble-left{
        width: 160px;
    }

    .speech-bubble-right{
        width: 160px;
        margin-top: 35px;
    }

    .speech-bubble-left p{
        padding-right: 5px;
    }

    .speech-bubble-right p{
        padding-left: 5px;
    }

    .bubble-text{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.8px;
        top: 21px;
    }
}

.about-text{
    margin-top: 100px;
}

.history{
    width: 900px;
    color: #402218;
    font-family: Zen Maru Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 6.3px;
    text-align: justify;
    display: block;
    margin: 0 auto;
    margin-top: 180px;
}

@media screen and (max-width:1100px){
    .history{
        width: 82%;
        margin-top: 150px;
    }
}

@media screen and (max-width:850px){
    .about-text{
        margin-top: 0px;
    }

    .history{
        margin-top: 0;
    }
}

@media screen and (max-width:390px) {
    .about-text{
        margin-top: 300px;
    }

    .history{
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 2.7px;
    }
}

.recommend{
    margin-top: 270px;
}

.recommend-title h2{
    color: #402218;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 7.2px;
    padding-top: 15px;
}

@media screen and (max-width:390px){
    .recommend-title h2{
    font-size: 20px;
    line-height: 100.023%; /* 20.005px */
    letter-spacing: 4px;
    }
}

.recommend-title img{
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 390px){
    .recommend{
        margin-top: 135px;
    }

    h2{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100.023%;
        letter-spacing: 4px;
    }
}

.shop-info{
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    gap: 12%;
    row-gap: 120px;
}

.shop{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.shop-background{
    width: 100%;
    position: relative;
}

.shop-text{
    position: absolute;
    text-align: center;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:1000px){
    .shop-info{
        gap: 8%;
        row-gap: 70px;
    }

    .shop{
        width: 320px;
    }

    .shop-text{
        width: 320px;
    }
}


@media screen and (max-width:390px){
    .shop-info{
        row-gap: 70px;
    }

    .shop{
        width: 320px;
    }

    .shop-text{
        width: 320px;
    }
}

.shop-image{
    position: absolute;
    left: 50%;
    top: -45%;
    transform: translateX(-50%);
    height: 140px;
    display: block;
    margin: 0 auto;
}

.aoki.shop-image{
    top: -30%;
}

.louage-shop-image{
    height: 120px;
}


@media screen and (max-width:1000px){
    .shop-image{
        top: -30%;
        height: 103px;
    }

    .aoki-shop-image{
        top: -40%;
    }

    .louage-shop-image{
        height: 90px;
    }
}

@media screen and (max-width:390px){
    .shop-image{
        top: -30%;
        height: 103px;
    }

    .aoki-shop-image{
        top: -40%;
    }

    .louage-shop-image{
        height: 90px;
    }
}

.shop-text h3{
    color: #fff;
    text-align: center;
    font-family: BioRhyme;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.6px;
    padding-top: 65px;
}

.aoki h3{
    font-size: 18px;
    padding-top: 40px;
}

@media screen and (max-width:1000px){
    .aoki h3{
        font-size: 18px;
        line-height: 110%;
        letter-spacing: 1.8px;
    }
}

@media screen and (max-width:390px){
    .aoki h3{
        font-size: 18px;
        line-height: 110%;
        letter-spacing: 1.8px;
    }
}

.shop-text p{
    color: #fff;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.023%;
    letter-spacing: 1.95px;
    margin: 20px 0;
}

@media screen and (max-width:1000px){
    .shop-text p{
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 1.69px;
        margin: 15px 0;
    }
}

@media screen and (max-width:390px){
    .shop-text p{
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1.69px;
        margin: 15px 0;
    }
}

.aoki-p{
    margin-top: 0px;
}

.btn{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #FFF solid 1px;
    height: 40px;
    margin: 0 90px;
    padding: 0 20.5px;
}

.btn img{
    width: 25px;
    height: 10px;
}

@media screen and (max-width:1000px){
    .btn{
        padding: 0 7px;
        width: 166px;
        height: 35px;
        margin: 0 auto;
    }

    .btn img{
        width: 22.5px;
    }
}

@media screen and (max-width:390px){
    .btn{
        padding: 0 7px;
        width: 166px;
        height: 35px;
        margin: 0 auto;
    }

    .btn img{
        width: 22.5px;
    }
}

.summary-table-title h2{
    color: #402218;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 7.2px;
    padding-top: 15px;
}

@media screen and (max-width:390px){
    .summary-table-title h2{
    font-size: 20px;
    line-height: 100.023%; /* 20.005px */
    letter-spacing: 4px;
    }
}

.summary-table-title img{
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.summary-table{
    margin-top: 200px;
}

.summary-table h2{
    margin-bottom: 100px;
}

.summary-table table{
    width: 880px;
    margin: 0 auto;
    border-width: none;
}

.summary-table th{
    background-color: #D37A80;
    height: 92px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.12px;
    border: none;
}

.summary-table td{
    height: 92px;
    color: #402218;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    border: none;
}

.radius-table span{
    font-size: 16px;
}

.summary-table tr{
    background-color: rgba(246, 191, 196, 0.50);
    transition: 0.5s;
}

.summary-table tr:hover{
    background-color: rgba(246, 191, 196, 1.0);
}

.radius-table tr:first-child>*:first-child{
    border-radius: 10px 0 0 0;
}
.radius-table tr:first-child>*:last-child{
    border-radius: 0 10px 0 0;
}
.radius-table tr:last-child>*:first-child{
    border-radius: 0 0 0 10px;
}
.radius-table tr:last-child>*:last-child{
    border-radius: 0 0 10px 0;
}

.shop-name a{
    color: #402218;
    font-family: BioRhyme;
    font-size: 22px;
}

.keep-date{
    text-align: left;
    width: 18%;
}

.cost{
    width: 18%;
}

.summary-table p{
    color: #402218;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 1.6px;
    margin: 180px 0 30px;
}

.summary-table-macaron{
    width: 300px;
    margin-left: 72%;
}

@media screen and (max-width:1200px){
    .summary-table-macaron{
        width: 200px;
        margin-left: 78%;
    }
}

.table-sp{
    display: none;
}

.last-message-br{
    display: none;
}

@media screen and (max-width:1000px){
    .summary-table table{
        width: 700px;
    }

    .summary-table th{
        font-size: 20px;
        height: 70px;
    }

    .summary-table td{
        font-size: 18px;
        height: 80px;
    }

    .shop-name a{
        font-size: 20px;
    }

    .summary-table p{
        font-size: 26px;
    }

    .summary-table-macaron{
        width: 180px;
        margin-left: 75%;
    }
}

@media screen and (max-width:800px){
    .summary-table table{
        width: 600px;
    }

    .summary-table th{
        font-size: 16px;
        height: 60px;
    }

    .summary-table td{
        font-size: 16px;
        height: 70px;
    }

    .summary-table p{
        font-size: 20px;
    }

    .summary-table-macaron{
        width: 160px;
        margin-left: 70%;
    }
}

@media screen and (max-width:650px){
    .summary-table p{
        font-size: 18px;
        line-height: 250%; /* 40px */
        letter-spacing: 0.8px;
        margin-top: 100px;
    }

    .last-message-br{
        display: block;
    }

    .summary-table-macaron{
        width: 150px;
        margin-left: 65%;
    }

    .table-pc{
        display: none;
    }

    .table-sp{
        display: inline-block;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .table-sp-cover{
        text-align: center;
    }

    .summary-table table{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }

    .shop-table-info{
        width: 400px;
        height: 78px;
    }

    .each-table th{
        height: 40px;
        font-family: BioRhyme;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 2px;
    }

    .aoki-sp th{
        font-size: 15px;
        letter-spacing: 1.8px;
    }

    .shop-table-info div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
        width: 400px;
    }

    .shop-table-info p{
        color: #402218;
        text-align: left;
        font-family: Zen Maru Gothic;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.1px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .shop-table-info span{
        font-size: 15px;
        letter-spacing: 1.5px;
    }
}

@media screen and (max-width:390px){
    .summary-table p{
        font-size: 16px;
        line-height: 250%; /* 40px */
        letter-spacing: 0.8px;
        margin-top: 100px;
    }

    .summary-table-macaron{
        width: 140px;
        margin-left: 60%;
    }

    .table-pc{
        display: none;
    }

    .table-sp{
        display: inline-block;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .table-sp-cover{
        text-align: center;
    }

    .summary-table table{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }

    .shop-table-info{
        width: 320px;
        height: 78px;
    }

    .each-table th{
        height: 40px;
        font-family: BioRhyme;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 2px;
    }

    .aoki-sp th{
        font-size: 15px;
        letter-spacing: 1.8px;
    }

    .shop-table-info div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
        width: 320px;
    }

    .shop-table-info p{
        color: #402218;
        text-align: left;
        font-family: Zen Maru Gothic;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.1px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .shop-table-info span{
        font-size: 15px;
        letter-spacing: 1.5px;
    }
}

footer{
    background-color: #D37A80;
    color: #FFF;
}

.footer-contents{
    padding: 40px 14.3% 0 14.3%;
}

@media screen and (max-width:1250px){
    .footer-contents{
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media screen and (max-width:800px){
    .footer-contents{
        display: none;
    }
}

footer a{
    color: #fff;
    transition: 0.5s;
}

.footer-contents p{
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 7px;
    padding-bottom: 30px;
}

.footer-contents a:hover{
    color: #F6BFC4;
}

.footer-contents table{
    margin-bottom: 30px;
    margin-left: 4.8%;
}

.footer-contents td{
    text-align: center;
    width: 280px;
    height: 50px;
}

.footer-contents td a{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}


.copywrite{
    color: #FFF;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 7px;
    padding-bottom: 21px;
}

@media screen and (max-width:1070px){
    .footer-contents p{
        font-size: 18px;
        list-style-position: 5px;
    }

    .footer-contents td a{
        font-size: 15px;
    }
}

@media screen and (max-width:800px){
    .footer-contents p{
        margin-bottom: 0;
    }

    .copywrite{
        font-size: 14px;
        font-weight: 200;
        line-height: 150.023%;
        letter-spacing: 3.85px;
        padding: 7px 0 7px 0;
    }
}

@media screen and (max-width:390px){
    .copywrite{
        font-size: 12px;
    }
}

.scroll_left {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_left.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

.scroll_right {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_right.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

.scroll_up {
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
  }
  .scroll_up.on {
    transform: translateY(0);
    opacity: 1.0;
  }
  
  .loader-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #F6BFC4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ローディングアニメーション */
  .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

span.smoothText {
	overflow: hidden;
	display: block;
}

/* アニメーションで傾斜がついている文字列を水平に戻す*/
span.smoothTextTrigger{
	transition: 1s ease-in-out;
	transform: translate3d(0,100%,0) skewY(12deg);
	transform-origin: left;
	display: block;
}
span.smoothTextTrigger.smoothTextAppear{
    transform: translate3d(0,0,0) skewY(0);
}